---
---
@charset "UTF-8";

// Vendor styles
@import "vendor/necolas/normalize";
@import "vendor/rowanmanning/rem";


// Typography
// ----------

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
    line-height: 1.563;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #333;
}
h1, h2, .h1, .h2 {
    font-weight: normal;
    font-family: Georgia, Times, "Times New Roman", serif;
}
h1, .h1 {
    @include rem(font-size, 30px);
    @include rem(line-height, 46px);
}
h2, .h2 {
    @include rem(font-size, 25px);
}
.line-height-36 {
    @include rem(line-height, 36px);
}
@media all and (max-width: 800px) {
    h1, .h1 {
        @include rem(font-size, 25px);
        @include rem(line-height, 38px);
        text-align: center;
    }
}
h1, h2, p, ul, ol, .type-margin {
    margin-top: 0;
    @include rem(margin-bottom, 25px);
}
.type-margin-x2 {
    @include rem(margin-bottom, 50px);
}
.type-margin-x3 {
    @include rem(margin-bottom, 75px);
}
.cramp {
    margin-bottom: 0;
}
.hide-text {
    text-indent: -9999px;
    overflow: hidden;
}
.center {
    text-align: center;
}
a {
    color: #2c9f96;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #2e7f78;
}
a.secret-link {
    color: inherit;
    text-decoration: none;
}
.inherit-color,
a.inherit-color {
    color: inherit;
}


// Page layout
// -----------

.page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.micro-page {
    max-width: 500px;
    margin: 150px auto;
}
@media all and (max-width: 800px) {
    .page {
        max-width: 600px;
    }
    .micro-page {
        margin: 50px auto;
    }
}
@media all and (max-width: 400px) {
    .page {
        max-width: 300px;
    }
}


// Content styles
// --------------

.center-section {
    max-width: 60%;
    margin: 0 auto;
}
@media all and (max-width: 800px) {
    .center-section {
        max-width: none;
    }
}


// Spacing
// -------

.ma10 {
    @include rem(margin, 10px);
}
.mr10 {
    @include rem(margin-right, 10px);
}
.mr20 {
    @include rem(margin-right, 20px);
}
.ml0 {
    margin-left: 0;
}
@media all and (max-width: 800px) {
    .mq800-mb0 {
        margin-bottom: 0;
    }
}


// Display
// -------

.cleared {
    zoom: 1;
}
.cleared:before, .cleared:after {
    display: table;
    content: '';
}
.cleared:after {
    clear: both;
}

.hidden {
    position: absolute;
    top: -999999em;
    left: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
@media all and (max-width: 800px) {
    .mq1000-hidden {
        position: absolute;
        top: -999999em;
        left: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
}

.pin-left {
    float: left;
}
.pin-right {
    float: right;
}
.unpin {
    float: none;
}
@media all and (max-width: 800px) {
    .mq1000-unpin {
        float: none;
    }
}


// List styles
// -----------

.secret-list {
    list-style: none;
    padding-left: 0;
}
.secret-list > li {
    display: block;
}

.floated-list > li {
    display: block;
    float: left;
}

.image-grid li {
    width: 25%;
    float: left;
}
.image-grid div,
.image-grid a {
    display: block;
    padding-right: 10px;
    padding-bottom: 10px;
}
.image-grid img {
    width: 100%;
    max-width: 300px;
    display: block;
}
@media all and (max-width: 800px) {
    .image-grid.tablet-last div {
        padding-right: 0;
    }
    .image-grid li {
        width: 50%;
    }
}
@media all and (max-width: 400px) {
    .image-grid div {
        padding-right: 0;
    }
    .image-grid li {
        width: auto;
        padding-right: 0;
    }
}


// Icons
// -----

.icon {
    background-position: center center;
    background-repeat: no-repeat;
}
.icon-36x36 {
    display: block;
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
}
.icon-email-36x36 {
    background-image: url('../image/icon/email-36x36.png');
    background-image: url('../image/icon/email-36x36.svg'), none;
}
.icon-instagram-36x36 {
    background-image: url('../image/icon/instagram-36x36.png');
    background-image: url('../image/icon/instagram-36x36.svg'), none;
}
.icon-link-36x36 {
    background-image: url('../image/icon/link-36x36.png');
    background-image: url('../image/icon/link-36x36.svg'), none;
}
.icon-tumblr-36x36 {
    background-image: url('../image/icon/tumblr-36x36.png');
    background-image: url('../image/icon/tumblr-36x36.svg'), none;
}
.icon-twitter-36x36 {
    background-image: url('../image/icon/twitter-36x36.png');
    background-image: url('../image/icon/twitter-36x36.svg'), none;
}


// Logo
// ----

.logo {
    display: inline-block;
    width: 52px;
    height: auto;
    background-size: 52px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../image/logo-52x36.png');
    background-image: url('../image/logo-52x36.svg'), none;
}
@media all and (max-width: 800px) {
    .logo {
        display: block;
        margin: 0 auto;
    }
}


// Navigation
// ----------

@media all and (max-width: 800px) {
    .nav {
        text-align: center;
    }
    .nav > li {
        float: none;
        display: inline-block;
        margin: 10px;
    }
}


// Profile image
// -------------

.profile-image {
    width: 12.5%;
    float: left;
    margin-right: 5px;
}
.profile-image-inner {
    padding-right: 10px;
    padding-bottom: 10px;
}
.profile-image img {
    width: 100%;
    max-width: 300px;
    display: block;
    border-radius: 50%;
}
@media all and (max-width: 800px) {
    .profile-image {
        width: 25%;
    }
}
@media all and (max-width: 400px) {
    .profile-image {
        width: 50%;
    }
}


// Slideshow
// ---------

.slideshow {
    display: block;
    overflow: hidden;
    position: relative;
    list-style: none;
    padding-left: 0;
    height: 400px;

    &__slide {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -500px;
        z-index: 0;
        opacity: 0;
        transition: opacity .5s;
        -webkit-transition: opacity .5s;

        img {
            width: 1000px;
            display: block;
            position: absolute;
        }

        &--current {
            display: block;
            z-index: 1;
            opacity: 1;
        }
    }

    @media all and (max-width: 800px) {
        height: 200px;
        &__slide {
            margin-left: -300px;
            img {
                width: 600px;
            }
        }
    }

    @media all and (max-width: 400px) {
        height: 100px;
        &__slide {
            margin-left: -150px;
            img {
                width: 300px;
            }
        }
    }
}


// Highslide
// ---------

.highslide-caption,
.highslide-wrapper {
    background-color: #fff;
}

.highslide-caption {
    text-align: center;
}

.highslide-dimming {
    background-color: #000;
}

.highslide-loading {
	display: block;
	color: black;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 3px;
	border: 1px solid white;
	background-color: white;
	padding-left: 22px;
	background-image: url(/asset/image/highslide/loader.white.gif);
	background-repeat: no-repeat;
	background-position: 3px 1px;
}
