---
---
@charset "UTF-8";

// Vendor styles
@import "vendor/necolas/normalize";
@import "vendor/rowanmanning/rem";


// Typography
// ----------

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
    line-height: 1.563;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #333;
}
h1, h2 {
    font-weight: normal;
}
h1, .h1 {
    @include rem(font-size, 30px);
    @include rem(line-height, 46px);
}
h2, .h2 {
    @include rem(font-size, 20px);
}
@media all and (max-width: 400px) {
    h1, .h1 {
        @include rem(font-size, 25px);
        @include rem(line-height, 38px);
        text-align: center;
    }
}
h1, h2, p, ul, ol, .type-margin {
    margin-top: 0;
    @include rem(margin-bottom, 25px);
}
.type-margin-x2 {
    @include rem(margin-bottom, 50px);
}
.type-margin-x3 {
    @include rem(margin-bottom, 75px);
}
.cramp {
    margin-bottom: 0;
}
.hide-text {
    text-indent: -9999px;
    overflow: hidden;
}
.center {
    text-align: center;
}
a {
    color: #2c9f96;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #2e7f78;
}


// Page layout
// -----------

.page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.micro-page {
    max-width: 500px;
    margin: 150px auto;
}
@media all and (max-width: 800px) {
    .page {
        max-width: 600px;
    }
    .micro-page {
        margin: 50px auto;
    }
}
@media all and (max-width: 400px) {
    .page {
        max-width: 300px;
    }
}


// Content styles
// --------------

.text-content {
    max-width: 48%;
}
@media all and (max-width: 800px) {
    .text-content {
        max-width: none;
    }
}


// Spacing
// -------

.ma10 {
    @include rem(margin, 10px);
}
.mr10 {
    @include rem(margin-right, 10px);
}
.ml0 {
    margin-left: 0;
}


// Display
// -------

.cleared {
    zoom: 1;
}
.cleared:before, .cleared:after {
    display: table;
    content: '';
}
.cleared:after {
    clear: both;
}

.hidden {
    position: absolute;
    top: -999999em;
    left: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
@media all and (max-width: 800px) {
    .mq1000-hidden {
        position: absolute;
        top: -999999em;
        left: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
}

.pin-left {
    float: left;
}
.pin-right {
    float: right;
}
.unpin {
    float: none;
}
@media all and (max-width: 800px) {
    .mq1000-unpin {
        float: none;
    }
}


// List styles
// -----------

.secret-list {
    list-style: none;
    padding-left: 0;
}
.secret-list > li {
    display: block;
}

.floated-list > li {
    display: block;
    float: left;
}

.image-grid li {
    width: 25%;
    float: left;
}
.image-grid div {
    padding-right: 10px;
    padding-bottom: 10px;
}
.image-grid img {
    width: 100%;
    max-width: 300px;
    display: block;
}
@media all and (max-width: 800px) {
    .image-grid.tablet-last div {
        padding-right: 0;
    }
    .image-grid li {
        width: 50%;
    }
}
@media all and (max-width: 400px) {
    .image-grid div {
        padding-right: 0;
    }
    .image-grid li {
        width: auto;
        padding-right: 0;
    }
}


// Icons
// -----

.icon {
    background-position: center center;
    background-repeat: no-repeat;
}
.icon-36x36 {
    display: block;
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
}
.icon-email-36x36 {
    background-image: url('../image/icon/email-36x36.png');
    background-image: url('../image/icon/email-36x36.svg'), none;
}
.icon-instagram-36x36 {
    background-image: url('../image/icon/instagram-36x36.png');
    background-image: url('../image/icon/instagram-36x36.svg'), none;
}
.icon-link-36x36 {
    background-image: url('../image/icon/link-36x36.png');
    background-image: url('../image/icon/link-36x36.svg'), none;
}
.icon-tumblr-36x36 {
    background-image: url('../image/icon/tumblr-36x36.png');
    background-image: url('../image/icon/tumblr-36x36.svg'), none;
}
.icon-twitter-36x36 {
    background-image: url('../image/icon/twitter-36x36.png');
    background-image: url('../image/icon/twitter-36x36.svg'), none;
}


// Logo
// ----

.logo {
    display: inline-block;
    width: 52px;
    height: auto;
    background-size: 52px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../image/logo-52x36.png');
    background-image: url('../image/logo-52x36.svg'), none;
}
@media all and (max-width: 400px) {
    .logo {
        display: block;
        margin: 0 auto;
    }
}


// Profile image
// -------------

.profile-image {
    width: 12.5%;
    float: left;
    margin-right: 5px;
}
.profile-image-inner {
    padding-right: 10px;
    padding-bottom: 10px;
}
.profile-image img {
    width: 100%;
    max-width: 300px;
    display: block;
    border-radius: 50%;
}
@media all and (max-width: 800px) {
    .profile-image {
        width: 25%;
    }
}
@media all and (max-width: 400px) {
    .profile-image {
        width: 50%;
    }
}
