---
---
<!DOCTYPE html>
<html lang="en-GB">
<head>

    <meta charset="utf-8"/>
    <title>{{site.data.author.name|xml_escape}}</title>
    <meta name="description" content="{{site.data.author.description | xml_escape}}"/>

    <meta name="viewport" content="width=device-width"/>
    <!--[if gt IE 6]><!-->
        <link rel="stylesheet" href="asset/style/site.css"/>
    <!--<![endif]-->
    <link rel="icon" href="/favicon.png" type="image/png"/>
    <link rel="shortcut icon" href="/favicon.ico"/>

</head>
<body>

    <!--[if lte IE 8]>
        <p style="background:#ffc;margin:0;padding:10px;">
            <small>
                You are using an outdated version of Internet Explorer. Parts of this site, and others,
                may appear broken.<br/>
                For a faster and safer browsing experience,
                <a href="http://browsehappy.com/" target="_blank">Upgrade your browser</a>.
            </small>
        </p>
    <![endif]-->

    <div class="page" itemscope itemtype="http://schema.org/Person">

        <header role="banner">
            <div class="type-margin cleared">

                <h1 class="cramp pin-left mq1000-unpin" itemprop="name">
                    {{site.data.author.name|xml_escape}}
                </h1>

                <link itemprop="url" href="http://scarlettrebecca.co.uk/"/>
                <meta itemprop="jobTitle" content="Illustrator"/>

                <ul class="secret-list inline-list cramp pin-right mq1000-unpin h1">
                    {% for link in site.data.author.links %}
                        <li>
                            <a rel="me" href="{{link.url|xml_escape}}" class="icon {% if link.icon %}icon-{{link.icon|xml_escape}}{% else %}icon-link{% endif %}">{{link.label|xml_escape}}</a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </header>

        <main role="main">
            <div class="type-margin-x3">

                <section>
                    <h2 class="hidden">My Work</h2>
                    <ul class="secret-list image-grid cleared">
                        {% for work in site.data.work %}
                            <li class="{% cycle '', 'tablet-last', '', 'last' %}">
                                <div>
                                    <img src="image/{{work.image|xml_escape}}" alt="{{work.label|xml_escape}}" title="{{work.label|xml_escape}}"/>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </section>

                <section>
                    <h2>About Me</h2>
                    <div class="text-content" itemprop="description">
                        {{site.data.author.about}}
                    </div>
                </section>

            </div>
        </main>

        <footer role="contentinfo">
            <small>
                Copyright &copy; {{ site.time | date: '%Y' }},
                {{site.data.author.name|xml_escape}}
            </small>
        </footer>

    </div>

</body>
</html>