---
title: Wedding Stationery
description: Scarlett Rebecca is an illustrator and printmaker living in Brighton. View and order her range of wedding stationery.
permalink: /weddings/
sitemap: false
---

<h1 class="center cursive">{{page.title}}</h1>

<ul class="slideshow cleared" data-play-speed="2500">
    {% for slide in site.data.weddings.slideshow %}
        <li class="slideshow__slide {% if forloop.first %}slideshow__slide--current{% endif %}">
            <img src="/image/wedding/slideshow/{{slide.image|xml_escape}}" alt="{{slide.label|xml_escape}}" title="{{slide.label|xml_escape}}"/>
        </li>
    {% endfor %}
</ul>

<div class="center-section">
    {{site.data.weddings.blurb}}
</div>

<section>

    <h2 class="center cursive">Ranges</h2>
    <ul class="secret-list image-grid cleared">
        {% for range in site.data.weddings.ranges %}
            <li class="{% cycle '', 'tablet-last', '', 'last' %}">
                <a href="/image/wedding/range/{{range.image|xml_escape}}" class="highslide">
                    <img src="/image/wedding/range/{{range.thumbnail|xml_escape}}" alt="{{range.label|xml_escape}}" title="{{range.label|xml_escape}}"/>
                </a>
            </li>
        {% endfor %}
    </ul>

    {% assign order = site.data.weddings.order %}
    {% assign email = order.email|url_encode|replace:"+","%20" %}
    {% assign subject = order.subject|url_encode|replace:"+","%20" %}
    {% assign message = order.message|url_encode|replace:"+","%20" %}
    <a href="mailto:{{email}}?subject={{subject}}&amp;body={{message}}">Make an order</a>

</section>

<section>
    <h2 class="hidden">Links</h2>
    <ul>
        {% for link in site.data.weddings.links %}
            <li>
                <a href="{{link.url|xml_escape}}">{{link.label|xml_escape}}</a>
            </li>
        {% endfor %}
    </ul>
</section>
