---
title: Wedding Stationery
description: Scarlett Rebecca is an illustrator and printmaker living in Brighton. View and order her range of wedding stationery.
permalink: /weddings/
---

<h1 class="center cursive">{{page.title}}</h1>

<ul class="slideshow cleared" data-play-speed="2500">
    {% for slide in site.data.weddings.slideshow %}
        <li class="slideshow__slide {% if forloop.first %}slideshow__slide--current{% endif %}">
            <img src="/image/wedding/slideshow/{{slide.image|xml_escape}}" alt="{{slide.label|xml_escape}}" title="{{slide.label|xml_escape}}"/>
        </li>
    {% endfor %}
</ul>

<div class="center-section">
    {{site.data.weddings.blurb}}
</div>

<section class="type-margin-x2">

    <h2 class="center cursive">Ranges</h2>

    <ul class="secret-list image-grid cleared">
        {% for range in site.data.weddings.ranges %}

            {% assign rangeId = forloop.index %}

            <li class="{% cycle '', 'tablet-last', '', 'last' %} highslide-gallery" data-gallery-id="{{rangeId}}">
                {% for image in range.images %}
                    {% if forloop.first %}
                        <a id="range-{{rangeId}}-thumb" href="/image/wedding/range/{{image|xml_escape}}" class="highslide" onclick="return hs.expand(this, { thumbnailId: 'range-{{rangeId}}-thumb', slideshowGroup: {{rangeId}} });" title="{{range.name|xml_escape}} {{forloop.index}}">
                            <img src="/image/wedding/range/{{range.thumbnail|xml_escape}}" alt="{{range.name|xml_escape}} {{forloop.index}}"/>
                        </a>
                    {% else %}
                        <a href="/image/wedding/range/{{image|xml_escape}}" class="highslide hidden" title="{{range.name|xml_escape}} {{forloop.index}}" onclick="return hs.expand(this, { thumbnailId: 'range-{{rangeId}}-thumb', slideshowGroup: {{rangeId}} });">
                            {{range.name}} {{forloop.index}}
                        </a>
                    {% endif %}
                {% endfor %}
            </li>

        {% endfor %}
    </ul>

    {% assign order = site.data.weddings.order %}
    {% assign email = order.email|url_encode|replace:"+","%20" %}
    {% assign subject = order.subject|url_encode|replace:"+","%20" %}
    {% assign message = order.message|url_encode|replace:"+","%20" %}
    <div class="center">
        <a href="mailto:{{email}}?subject={{subject}}&amp;body={{message}}" class="order-button">
            {{site.data.weddings.order.label}}
        </a>
    </div>

</section>

<section>
    <h2 class="hidden">Links</h2>
    <ul class="secret-list inline-list center cramp cleared">
        {% for link in site.data.weddings.links %}
            <li class="ma10 ml10 mr20 line-height-36 serif">
                <a href="{{link.url|xml_escape}}" class="pa10 wedding-link">
                    {{link.label|xml_escape}}
                </a>
            </li>
        {% endfor %}
    </ul>
</section>
